<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{helpText}}</p><br>
    <p>you can find the code for it in my github repository attached baelow :</p>
    <a href="https://github.com/keshavkrishna2211/weather-website">Keshav Krishna</a>
  </div>

  {{>footer}}
</body>

</html>